<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @RenderSection("Header")
    <link rel="stylesheet" href="~/css/static.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
