@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Log in";
    Layout = "_LayoutBootstrap";
}

@model Kroeg.Server.Controllers.AuthController.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-6 push-md-3">
            <div class="jumbotron">
                <h1>Log in</h1>
                <h4><a href="register">Register here</a></h4>
                <form asp-controller="Auth" asp-action="DoLogin" method="post">
                    <label asp-for="Username">Username: </label> <input class="form-control" asp-for="Username" type="text" /><br />
                    <label asp-for="Password">Password: </label> <input class="form-control" asp-for="Password" type="password" /><br />
                    <input type="hidden" name="Redirect" value="@Model.Redirect" />
                    <input type="submit" value="Submit" class="btn btn-default" />
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 push-md-3" style="text-align: right;">
            <small>Instance of <a href="https://github.com/puckipedia/Kroeg">Kroeg</a></small>
        </div>
    </div>
</div>