@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Register";
}

@section Header {}

@model Kroeg.Server.Controllers.AuthController.RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Create an account</h1>
<form asp-controller="Auth" asp-action="DoRegister" method="post">
    <label asp-for="Username">Username: </label> <input asp-for="Username" type="text" /><br />
    <label asp-for="Email">Email: </label> <input asp-for="Email" type="email" /><br />
    <label asp-for="Password">Password: </label> <input asp-for="Password" type="password" /><br />
    <label asp-for="VerifyPassword">Password, again: </label> <input asp-for="VerifyPassword" type="password" /><br />
    <input type="submit" value="Submit" />
</form>
