{{wrap div}}
{{if $attributedTo}}
    {{$attributedTo render:objects/sub/user_info}}
{{end}}

<div class="list-group">
    {{$orderedItems $items load}}
    {{while next}}
        <div class="list-group-item">
            {{item render:objects/activities/activity}}
        </div>
    {{end}}
    {{if $next $prev}}
        <div class="list-group-item">
            {{if $prev}}
                <a class="btn btn-default" href="{{$prev}}">&laquo; Previous</a>
            {{end}}
            {{if $next}}
                <a class="btn btn-default" href="{{$next}}">Next &raquo;</a>
            {{end}}
        </div>
    {{end}}
</div>
