<!DOCTYPE html>
<html>
    <head>
        <title>Kroeg</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Kroeg</a>
            <span class="navbar-text">
                <noscript>No JavaScript!</noscript>
                <span id="navbar-js-error" style="display: none">Rendering...</span>
                <script> document.getElementById("navbar-js-error").style.display = ""; </script>
            </span>
        </nav>

        {{render:body}}

        <script>
            window.preload = {{preload}};
        </script>
        <script src="/js/require.js"></script>
        <script>
            requirejs.config({
                bundles: {
                    '/js/code.js': ['Main']
                },
                paths: {
                    "jsonld": "https://cdnjs.cloudflare.com/ajax/libs/jsonld/0.4.12/jsonld"
                }
            });

            require(["Main"], function(Main) { window.main = Main });
        </script>
    </body>
</html>