<!DOCTYPE html>
<html>
    <head>
        <title>Kroeg</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            {{if is Collection}}
                {{$id render:collection}}
            {{else}}
                {{if is CollectionPage}}
                    {{$id render:collection_page}}
                {{else}}
                    {{$id render:object}}
                {{end}}
            {{end}}
        </div>
    </body>
</html>