@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Kroeg.Server.Controllers.SettingsController.BaseModel
<div class="list-group">
    @foreach (var item in Model.Actors)
    {
        <a class="list-group-item list-group-item-action" href="@Url.Action("Edit", new { id = item.ActorId })">@item.ActorId</a>
    }
    <a class="list-group-item list-group-item-action" href="@Url.Action("NewActor")">New</a>
</div>