@model Kroeg.Server.Controllers.SettingsController.NewActorModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Menu {
    @await Html.PartialAsync("Menu", Model.Menu)
}

<form method="post" asp-controller="Settings" asp-action="MakeNewActor">
    <h1>Create a new <select asp-for="Type">
           <option>Person</option>
           <option>Organisation</option>
           <option>Group</option>
        </select></h1>
    <div class="form-group">
        <label asp-for="Username">Username</label><input class="form-control" type="text" asp-for="Username" />
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label><input class="form-control" type="text" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Summary">Summary</label><input class="form-control" type="text" asp-for="Summary" />
    </div>
    <input type="submit" class="btn btn-primary" value="Create new actor" />
</form>