@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@inject Kroeg.Server.Tools.EntityData entityConfiguration

@{
    ViewBag.Title = "Render";

    var showActor = entityConfiguration.IsActor(Model.Data);
    var outbox = "";
    if (showActor)
    {
        var u = new UriBuilder((string) Model.Data["outbox"].First().Primitive);
        u.Path += ".atom";
        u.Query = "from_id=" + int.MaxValue.ToString(); // to please the AtomEntryGenerator
        outbox = u.ToString().Replace(":443", "");
    }
}

@section Header {

    @if (showActor)
    {
        <link title="Notice feed (Atom)" type="application/atom+xml" href="@outbox" rel="alternate">
    }
}

@model Kroeg.Server.Models.APEntity


<div class="container">
    @await Html.PartialAsync("Render/Object", Model)
</div>